<layout-header></layout-header>

@if (!islogin && loginqr) {
<div class="container-lg mt-3">
    @if (loginqr.result) {
    <qr-code [value]="loginqr.result" [size]="300" [margin]="0"></qr-code>
    <div>间隔 5 秒刷新</div>
    } @else {
    <div>未读取到登录二维码 {{loginqr.error}}</div>
    }
</div>
}

@if (islogin && user) {
<div class="container-lg mt-3">
    <div class="row">
        <div class="col-3">
            mobile
        </div>
        <div class="col">
            {{user.mobile}}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            name
        </div>
        <div class="col">
            {{user.name}}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            wxid
        </div>
        <div class="col">
            {{user.wxid}}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            home
        </div>
        <div class="col">
            {{user.home}}
        </div>
    </div>
    <div *ngIf="avatar" class="row">
        <div class="col-3">
            avatar
        </div>
        <div class="col">
            <img [src]="avatar.small_head_img_url" />
        </div>
    </div>
</div>
}
