<layout-header></layout-header>

@if (!islogin && loginqr) {
<div class="container-lg mt-3">
    @if (loginqr.result) {
    <qr-code [value]="loginqr.result" [size]="300" [margin]="0"></qr-code>
    <div>间隔 200 秒刷新</div>
    } @else {
    <div>未读取到登录二维码 {{loginqr.error}}</div>
    }
</div>
}

@if (islogin && user && avatar) {
<div class="container-lg mt-3">
    <div class="card w-50">
        <img [src]="avatar.big_head_img_url" class="card-img-top" />
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <b class="me-2">手机</b> {{user.mobile}}
            </li>
            <li class="list-group-item">
                <b class="me-2">昵称</b> {{user.name}}
            </li>
            <li class="list-group-item">
                <b class="me-2">wxid</b> {{user.wxid}}
            </li>
            <li class="list-group-item">
                <b class="me-2">目录</b> {{user.home}}
            </li>
        </ul>
    </div>
</div>
}