<layout-header></layout-header>

<nav class="container-lg mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/welcome">首页</a></li>
        <li class="breadcrumb-item active">用户管理</li>
    </ol>
</nav>

<div class="container-lg mb-3">
    <div class="text-end mb-3">
        <button class="btn btn-sm btn-primary" [routerLink]="['/profile/create']">添加</button>
    </div>

    <table class="table table-hover align-middle">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">用户</th>
                <th scope="col">类别</th>
                <th scope="col">级别</th>
                <th scope="col">AI 唤醒词</th>
                <th scope="col">AI 模型</th>
                <th scope="col">拉黑期限</th>
                <th scope="col">备注</th>
                <th scope="col">操作</th>
            </tr>
        </thead>
        <tbody>
            @for (item of profiles; track item.rd) {
            <tr>
                <th scope="row">{{item.rd}}</th>
                <td>
                    @if (item.roomid == '-' && contacts[item.wxid]) {
                    {{contacts[item.wxid].name}}
                    }
                    @if (item.roomid != '-' && roomMembers[item.roomid] && roomMembers[item.roomid][item.wxid]) {
                    {{roomMembers[item.roomid][item.wxid].name}}
                    }
                </td>
                <td>
                    @if (item.roomid == '-') {
                    私聊
                    } @else {
                    {{contacts[item.roomid] ? contacts[item.roomid].name : item.roomid}}
                    }
                </td>
                <td>{{levels[item.level].name || '-'}}</td>
                <td>{{item.ai_argot}}</td>
                <td>{{item.ai_model}}</td>
                <td>{{item.ban_expire > timestamp ? getLocalTime(item.ban_expire) : '-'}}</td>
                <td>{{item.remark}}</td>
                <td>
                    <button class="btn btn-sm btn-danger" (click)="deleteProfile(item)">删除</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>