<layout-header></layout-header>

<nav class="container-lg mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/welcome">首页</a></li>
        <li class="breadcrumb-item"><a routerLink="/llmodel/list">模型配置</a></li>
        <li class="breadcrumb-item active">编辑</li>
    </ol>
</nav>

<div class="container-lg mb-3">
    <form class="row gy-3" (ngSubmit)="updateLLModel()" #myform="ngForm">
        <div class="col-12">
            <label class="form-label">指令 *</label>
            <input type="text" name="mid" class="form-control" [(ngModel)]="formdata.mid" required />
            <div class="form-text">
                用于生成模型切换指令，不影响接口请求
                @if (formdata.mid && formdata.mid.length > 1) {
                ；当前指令：<b>/cm:{{formdata.mid}}</b>
                }
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">级别</label>
            <select name="level" class="form-select" [(ngModel)]="formdata.level">
                @for (item of userLevels | keyvalue; track item.key) {
                <option [value]="item.key">{{item.value.name}}</option>
                }
            </select>
            <div class="form-text">
                用于限制模型使用权限
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">族类 *</label>
            <input name="family" class="form-control" list="familyOptions" [(ngModel)]="formdata.family" required>
            <datalist id="familyOptions">
                <option value="Gemini">Gemini</option>
                <option value="GPT">GPT</option>
                <option value="Spark">Spark</option>
            </datalist>
            <div class="form-text">
                用于在指令中描述模型，不影响接口请求
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">服务商 *</label>
            <select name="provider" class="form-select" [(ngModel)]="formdata.provider" required>
                <option value="google">Google</option>
                <option value="openai">OpenAI</option>
                <option value="xunfei">科大讯飞</option>
                <option value="baidu">百度千帆（文心一言）</option>
                <option value="tencent">腾讯混元</option>
                <option value="ali">阿里百炼（通义千问）</option>
            </select>
            <div class="form-text">
                未支持的服务商，可尝试使用协议兼容代理
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">模型 *</label>
            <select name="model" class="form-select" [(ngModel)]="formdata.model" required>
                <option value="-">不指定</option>
                @if (formdata.provider === 'google') {
                <option value="gpt-3.5-turbo">gpt-3.5-turbo</option>
                }
                @if (formdata.provider === 'openai') {
                <option value="gemini-pro">gemini-pro</option>
                }
                @if (formdata.provider === 'xunfei') {
                <option value="v3">spark v3</option>
                }
            </select>
            <div class="form-text">
                必须和服务商对应，缺失模型请提 Issue 或 PR 补全
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">密钥 *</label>
            <input type="text" name="secret" class="form-control" [(ngModel)]="formdata.secret" required />
            <div class="form-text">
                @switch (formdata.provider) {
                @case ('xunfei') {
                科大讯飞填写 APP-ID,API-KEY,API-SECRET
                }
                @case ('baidu') {
                文心一言填写 API-KEY,API-SECRET
                }
                @case ('tencent') {
                腾讯混元填写 APP-ID,API-KEY,API-SECRET
                }
                @case ('ali') {
                阿里百炼（通义千问）填写 APP-ID,AGENT-KEY,ACCESS_KEY_ID,ACCESS_KEY_SECRET
                }
                @default {
                请填写从服务商获取的 API-KEY
                }
                }
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">接入点</label>
            <input type="text" name="endpoint" class="form-control" [(ngModel)]="formdata.endpoint" />
            <div class="form-text">
                自定义接口地址，留空则使用官方接口
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary" [disabled]="myform.invalid">确认</button>
        </div>
    </form>
</div>
