@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

html,
body,
app-root,
router-outlet~* {
    height: 100%;
}

router-outlet~* {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.w-max100 {
    max-width: 100px;
    overflow: hidden;
}

.w-max150 {
    max-width: 150px;
    overflow: hidden;
}

.w-max200 {
    max-width: 200px;
    overflow: hidden;
}