<layout-header></layout-header>

<nav class="container-lg mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/welcome">首页</a></li>
        <li class="breadcrumb-item active">Wcferry</li>
        <li class="breadcrumb-item active">群聊</li>
    </ol>
</nav>

<div class="container-lg mb-3">
    <div class="row">
        <div class="col-sm-6">
            <div class="list-group">
                @for (item of chatrooms; track item.wxid) {
                <a class="list-group-item list-group-item-action d-flex align-items-center cursor-pointer" [class.active]="selected && selected.wxid == item.wxid" (click)="getChatroom(item)">
                    <div class="avatar me-3">
                        <img class="rounded" [src]="avatars[item.wxid]" />
                    </div>
                    <div class="text-truncate">
                        <div class="fw-bold text-truncate">{{item.remark || item.name || '-'}}</div>
                        {{item.wxid}}
                    </div>
                </a>
                }
            </div>
        </div>
        <div class="col-sm-6">
            <div class="list-group">
                @for (item of members; track item.wxid) {
                <div class="list-group-item d-flex align-items-center">
                    <div class="avatar me-3">
                        <img class="rounded" [src]="avatars[item.wxid] || '/assets/icon.png'" />
                    </div>
                    <div class="text-truncate">
                        <div class="fw-bold text-truncate">{{item.remark || item.name || '-'}}</div>
                        {{item.wxid}}
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>