<layout-header></layout-header>

<nav class="container-xl mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/welcome">首页</a></li>
        <li class="breadcrumb-item active">Wcferry</li>
        <li class="breadcrumb-item active">群聊</li>
    </ol>
</nav>

<div class="container-xl mb-3">
    <div class="row g-3">
        <div class="col col-md-3">
            <div class="card">
                <div class="list-group list-group-flush chatrooms">
                    @for (item of chatrooms; track item.wxid) {
                    <a class="list-group-item list-group-item-action d-flex align-items-center cursor-pointer" [class.active]="chatroom && chatroom.wxid == item.wxid" (click)="getChatroom(item)">
                        <div class="avatar me-3">
                            <img class="rounded" [src]="avatars[item.wxid]" />
                        </div>
                        <div class="text-truncate">
                            <div class="fw-bold text-truncate">{{item.remark || item.name || '-'}}</div>
                            <small>{{item.wxid}}</small>
                        </div>
                    </a>
                    }
                </div>
            </div>
        </div>
        <div class="col" [class.col-md-9]="!wechat.subPanel" [class.col-md-6]="wechat.subPanel">
            <layout-wechat #wechat [chat]="chatroom"></layout-wechat>
        </div>
        <div class="col col-md-3" [class.d-none]="!wechat.subPanel">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="fs-5">
                        群成员
                    </div>
                </div>
                <div class="list-group list-group-flush members">
                    @for (item of members; track item.wxid) {
                    <a class="list-group-item d-flex align-items-center">
                        <div class="avatar me-3">
                            <img class="rounded" [src]="avatars[item.wxid] || '/assets/icon.png'" />
                        </div>
                        <div class="text-truncate">
                            <div class="fw-bold text-truncate">{{item.remark || item.name || '-'}}</div>
                            <small>{{item.wxid}}</small>
                        </div>
                    </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>