<div class="card" *ngIf="chat">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="text-truncate fs-5 me-2">
            {{chat.name}} {{memberCount ? '(' + memberCount + ')' : ''}}
        </div>
        <i class="bi bi-card-text cursor-pointer" (click)="showPanel = !showPanel"></i>
    </div>

    <div #scrollLayout class="list-group list-group-flush">
        @for (item of messages; track item.id) {
        @if (item.sender == 'system') {
        <div class="list-group-item system-msg">
            <small>[{{item.ts | date:'yyyy-MM-dd HH:mm:ss'}}] {{item.content}}</small>
        </div>
        } @else {
        <div class="list-group-item">
            <div class="d-flex align-items-center">
                <div class="avatar me-3">
                    <img class="rounded" [src]="avatars[item.sender] || '/assets/icon.png'" />
                </div>
                <div class="text-truncate">
                    <div class="fw-bold">
                        {{memberMap[item.sender] && memberMap[item.sender].name || '-'}}
                    </div>
                    <small>{{item.ts | date:'yyyy-MM-dd HH:mm:ss'}}</small>
                </div>
            </div>
            <div class="mt-2">
                {{item.content}}
            </div>
        </div>
        }
        }
    </div>

    <div class="card-footer">
        <textarea class="form-control" rows="5" placeholder="输入消息" [(ngModel)]="content"></textarea>
        <button class="btn btn-primary" (click)="sendTxt()">发送</button>
    </div>
</div>