:host,
.card {
    height: 100%;
    display: block;
    overflow: hidden;
}

.content {
    height: calc(100% - 196px);
    overflow-x: hidden;
    overflow-y: auto;

    .avatar img {
        width: 40px;
        height: 40px;
    }

    .system {
        color: #999;
        text-align: center;

        &+.system {
            display: none;
        }
    }

    .usrname {
        display: block;
        margin-top: -10px;
    }

    .message {
        padding: 10px;
        border-radius: 10px;
        background-color: #f0f0f0;
    }

    .self {
        flex-direction: row-reverse;

        .usrname {
            text-align: right;
        }

        .message {
            background-color: #77d259;
        }
    }
}

.card-footer {
    textarea {
        resize: none;
    }

    button {
        position: absolute;
        bottom: 14px;
        right: 24px;
    }
}