<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary mb-3">
    <div class="container-xl">

        <a routerLink="/" class="navbar-brand">
            <img src="/assets/icon.png" class="align-top" width="30" height="30">
            <span>&nbsp; Wrest</span>
        </a>

        <button type="button" class="navbar-toggler" (click)="collapse = !collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [class.show]="collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/welcome" routerLinkActive="active">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/setting/list" routerLinkActive="active">全局配置</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/llmodel/list" routerLinkActive="active">模型配置</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/chatroom/list" routerLinkActive="active">群聊配置</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/profile/list" routerLinkActive="active">用户配置</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/keyword/list" routerLinkActive="active">词库管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cronjob/list" routerLinkActive="active">计划任务</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/webhook/list" routerLinkActive="active">Webhook</a>
                </li>
                <li ngbDropdown class="nav-item" routerLinkActive="active">
                    <a class="nav-link" ngbDropdownToggle>
                        Wcferry
                    </a>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a ngbDropdownItem routerLink="/wcferry/chatroom" routerLinkActive="active">聊天</a>
                        <a ngbDropdownItem routerLink="/wcferry/contact" routerLinkActive="active">通讯录</a>
                        <a ngbDropdownItem routerLink="/wcferry/dbquery" routerLinkActive="active">数据库</a>
                        <a ngbDropdownItem routerLink="/wcferry/receiver" routerLinkActive="active">消息监听</a>
                    </div>
                </li>
                <li ngbDropdown class="nav-item" routerLinkActive="active">
                    <a class="nav-link" ngbDropdownToggle>
                        其他
                    </a>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a ngbDropdownItem routerLink="/handler/list" routerLinkActive="active">可用指令</a>
                        <a ngbDropdownItem [disabled]="true">插件状态</a>
                        <a ngbDropdownItem routerLink="/plugin/keyword" routerLinkActive="active">&nbsp; 关键词</a>
                        <a ngbDropdownItem routerLink="/plugin/cronjob" routerLinkActive="active">&nbsp; 计划任务</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/swagger/" target="_blank" title="接口文档">
                        <i class="bi bi-book-half d-none d-lg-inline"></i>
                        <span class="d-lg-none">接口文档</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/opentdp/wrest-chat" target="_blank" title="源代码">
                        <i class="bi bi-github d-none d-lg-inline"></i>
                        <span class="d-lg-none">源代码</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>