<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-lg">
        <a routerLink="/" class="navbar-brand">
            <img src="/assets/icon192.png" class="align-top" width="30" height="30">
            <span>&nbsp; 微助手</span>
        </a>
        <button class="navbar-toggler" type="button" (click)="collapse = !collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [class.show]="collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a routerLink="/welcome" routerLinkActive="active" class="nav-link">首页</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/bot/chatrooms" routerLinkActive="active" class="nav-link">群聊配置</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/bot/profiles" routerLinkActive="active" class="nav-link">用户配置</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/bot/llmodels" routerLinkActive="active" class="nav-link">模型配置</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/bot/keywords" routerLinkActive="active" class="nav-link">关键词</a>
                </li>
                <li ngbDropdown class="nav-item">
                    <a ngbDropdownToggle class="nav-link">
                        Wcferry
                    </a>
                    <div ngbDropdownMenu>
                        <a ngbDropdownItem routerLink="/wcf/chatrooms" routerLinkActive="active">群聊</a>
                        <a ngbDropdownItem routerLink="/wcf/contacts" routerLinkActive="active">通讯录</a>
                        <a ngbDropdownItem routerLink="/wcf/receiver" routerLinkActive="active">消息监听</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/swagger/" target="_blank" title="接口文档">
                        <i class="bi bi-broadcast d-none d-lg-inline"></i>
                        <span class="d-lg-none">接口文档</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/opentdp/wechat-rest" target="_blank" title="源代码">
                        <i class="bi bi-github d-none d-lg-inline"></i>
                        <span class="d-lg-none">源代码</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>