<layout-header></layout-header>

<nav class="container-lg mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/welcome">首页</a></li>
        <li class="breadcrumb-item active">关键词</li>
    </ol>
</nav>

<div class="container-lg mb-3">
    <div class="text-end mb-3">
        <button class="btn btn-sm btn-primary" [routerLink]="['/keyword/create']">添加</button>
    </div>

    <table class="table table-hover align-middle">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">词语</th>
                <th scope="col">场景</th>
                <th scope="col" class="d-none d-lg-table-cell">级别</th>
                <th scope="col">操作</th>
            </tr>
        </thead>
        <tbody>
            @for (item of keywords; track item.rd) {
            <tr>
                <th scope="row">{{item.rd}}</th>
                <td>{{item.phrase}}</td>
                <td>
                    @if (wcfChatrooms[item.roomid]) {
                    {{wcfChatrooms[item.roomid].name}}
                    } @else {
                    {{item.roomid != '-' ? item.roomid : '全局'}}
                    }
                </td>
                <td class="d-none d-lg-table-cell">
                    {{ keywordLevels[item.level] && keywordLevels[item.level].name || item.level}}
                </td>
                <td class="text-nowrap">
                    <button class="btn btn-sm btn-primary me-2" routerLink="/keyword/update/{{item.rd}}">编辑</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteKeyword(item)">删除</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
